footer
	div.container
		div.row
			div.col-md-7
				div.footer-links
					ul.footer-group
						li
							a(href='#') Features
						li
							a(href='#') Pricing
						li
							a(href='#') Sign Up
					p Copyright © 2015 
						a(href='#') Foggy Goggles
						br
						a(href='#') License
			div.social-share
				p Share Foggy Goggles
				a.twitter-share(href='https://twitter.com')
					i.fa.fa-twitter
				a.facebook-share(href='https://facebook.com')
					i.fa.fa-facebook
