head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	title Foggy Goggles
	meta(name='description' content='')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(rel='stylesheet', href='public/css/normalize.min.css')
	link(rel='stylesheet', href='public/css/bootstrap.min.css')
	link(rel='stylesheet', href='public/css/jquery.fancybox.css')
	link(rel='stylesheet', href='public/css/flexslider.css')
	link(rel='stylesheet', href='public/css/style.css')
	link(rel='stylesheet', href='public/css/styles.css')
	link(rel='stylesheet', href='public/css/queries.css')
	link(rel='stylesheet', href='public/css/etline-font.css')
	link(rel='stylesheet', href='bower_components/animate.css/animate.min.css')
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')